@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,800&display=swap');

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font: 400 2.2rem/1.8 'Poppins', sans-serif;
    color: #444;
      
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 96%
}

h2, h3, h4 {
    
    line-height: 1.2;
}

h2{
    font-size: 6.2rem;
}
h3{
    font-size: 3.6rem;    
}
h4{
    font-size: 3rem;
    margin: 3em 0 0;
}
p {
    margin: 1.6em 0;
}

.section {
    padding: 80px 0;
    /* outline: 1px solid red; */
}

.section--extra-padding {
    padding: 150px 0;
}
.section__title {    
    margin: 0
}

.section__text{
    margin: 3em 0;
}
.section-gradient{
    background-image: linear-gradient(to top, #ff00cc 0%, #333399 64%, #333399 100%);
}

.section--light, 
.cover {
    color: #fff;
    background-color: #339;
}
.cover{
    min-height: 100vh;
    background-color: #0b0e1b;
    padding: 80 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
}


.cover__content {
 max-width: 950px;
 line-height: 1;
 text-align: center;
}

.cover__title {
    font-size: 6rem;
    margin: 0;

}

.cover__text {
 font-size: 3rem;
 margin-bottom: 2.75em;
}

/* buttons */

.btn {
    font-size: 2.2rem;
    font-weight: 800;
    color: #fff;
    background-color: #c60ebe;
    border: 3px solid #c60ebe;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 10px;
    transition: all .25s ease-in-out;
    display: inline-block;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: #c60ebe;
    background-color: transparent;
}

.btn--transparent {
    background-color: transparent;
    border-color: #fff
}

.transparent:hover,
.transparent:focus,
.transparent:active {

    color: #c60ebe;
    background-color: #fff;
    
}
.btn--sharp{
    border-radius: 0;
}

.btn--dark{
    background-color: #555;
    border-color: #555;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 400;
} 
.btn--dark:active,
.btn--dark:focus,
.btn--dark:hover{
color: #555;
background-color: #fff;
}

/* nav */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav {
    font-weight: 800;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.nav a{
    color: #fff;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
    color: #c60ebe;
    transition: all .25s ease-in-out;
}

.logo {
    font-size: 3.4rem;
    
}

.menu {
    padding: 0;
    list-style: none;
}

.menu__item {
    display: inline-block;
    margin-left: 3rem;
}

.menu__link {
    font-size: 1.6rem;
    padding: 10px;
    border-bottom: 3px solid transparent;
}

.menu__link:focus,
.menu__link.active,
.menu__link:active {
    border-color: #c60ebe;
    color: #c60ebe;
}

/* color of text */
.text-purple {
    color: #e71cb4;
}

.text-yellow {
    color: #ffde16;
}

.text-pink {
    color: #ffbd9e;
}

.text-blue {
    color: #20c9e0;
}

.text-green {
    color: #2eac66;
}

.text-red {
    color: #ff6179;
}

/* sizes of text */
.text-lagre {
    font-size: 1.5em;
}

.text-small {
    font-size: 0.6em;
}

.text-medium {
    font-size: 0.75;
}

/* text aling */

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* courses */
.courses {
    padding: 0;
    margin: 3em 0 0;
    list-style: none;
    columns: 2
}

.course {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3em;
}

.courses span {
    vertical-align: top;
}

.course__number{
    font-size: 4.4rem;
    font-weight: 800;
    vertical-align: middle;
    min-width: 150px;
    line-height: 1;
    display: inline-block; 
    text-align: right;
    position: relative;
}
.course__number:after {
    content: '.';
    font-family: 'Temis New Roman', Times, serif;
    font-size: 1.4em;
    line-height: .6;
    text-align: right;
    
}
.course__number i {
    font-size: .7em;
    line-height: 1;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.course__text {
    padding-left: 1.2em;    
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
}

/* Users */
.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.user {
    /* outline: 1px solid red; */
    width: 28%;
    text-align: center;
    padding: 30px;
    overflow: hidden;
}

.user__wrap{    
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;
}

.user__img{
    /* width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 10px;

}

.user__name{
    font-weight: 800;
    font-size: 2.4rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* Если нужна 1 строка и имя/фамилия не влезают */
}
.user__position {
    font-size: 1.6rem;
    max-height: 58%;
    overflow: hidden;
}
.user--round{
    width: 31%;
    padding: 10px;
    margin-top: 70px
}


/* countdown */
.countdown {
    text-align: center;
}
.countdown__item {
    min-width: 178px;
    display: inline-block;
    padding: 35px;
    margin: 15px;
    border: 1px solid #460340;
    background-color: #460340;
}
.countdown__item--transparent {
    border: 1px solid #ffffff;
    background-color: transparent;

}

.countdown__num {
    font-size: 7.2rem;
    font-weight: 800;
    line-height: 1;
}
.countdown__text {
    text-transform: uppercase;
    line-height: 1;
}
/* sponsors */

.sponsors {
    padding: 0;
    list-style: none;
    text-align: center;
}

.sponsor{
    display: inline-block;
    margin: 30px 15px;
}

.sponsor__img {
    transform: scale(.8);
    transition: all .25s ease-in;
}

.sponsor__img:hover,
.sponsor__img:active,
.sponsor__img:focus{
    transform: scale(1);
}



.section--bg-jury {
    background-color: #ffe9eb;
    margin-top: 100px;
}

.contacts{
    width: 50%;
    display: inline-block;
    border-bottom-color: 3px solid #555555;
}


/* footer-footer */
footer {
    background-color: #eee;
}


.form-subscribe__input {
    font-size: 2.2rem;
    font-weight: 800;   
    border: 3px solid #fff;
    padding: .7em;
    border-radius: 10px;
    transition: all .25s ease-in-out;
    display: inline-block;
    color: #888;
    width: 400px;

}
.form-subscribe__input:focus{
     outline: none;
    border-color: #ff00cc 
}
.form-subscribe .btn{
    padding: .7em;
}
/* socials */

.socials {
    padding: 0;
    list-style: none;
    margin: 50px 0;
}
.social {
    display: inline-block;
    margin: 5px;
}

.social__link {
    display: inline-block;
    width: 62px;
    height: 62px;
    background-color: #dedede;
    color: #fff;
    text-align: center;
    line-height: 62px;
    border-radius: 50%;
}

.social__link:hover,
.social__link:focus,
.social__link:active{
    color: #dedede;
    background-color: #fff;
    transition: all .25s ease-in;
}
/* contact form */

.form-contact{
    max-width: 650px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}
.form-contact__input{
    display: inline-block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    transition: all .25s ease-in;
    padding: 15px 0;   
    font-size: 1.6rem;
}
textarea.form-contact__input{
    resize: none;
}

.form-contact__input:focus,
.form-contact__input.filled {
    outline: none;
    border-color: transparent;
   
}

.form-contact__label {
    font-size: 1.3rem;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0, -100%);
    padding: 15px 0;
}
.form-contact__input:focus + .form-contact__label,
.form-contact__input.filled + .form-contact__label {
    transform: translate(0, -20%);
    transition: all .25s ease-in-out;
    z-index: 1;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
}
.row--right{
    flex:end;
}

.col {
    width: calc(50% - 15px);
    position: relative;
    border-bottom: 2px solid #000;
    font-size: 0;
}

.col--lg{
    width: 100%;
}
